html, body {
    margin: auto;
    display: table;
    width: 1008px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

header {
    height: 100px;
    width: 1008px;
    border-bottom: black;
    padding-bottom: 4px;
    border-width: 0px 0px 3px 0px;
    border-style: outset;
}

footer {
    height: 170px;
    width: 1008px;
    border-width: 3px 0px 0px 0px;
    border-style: outset;
    border-top-color: black;
    padding-top: 15px;
    margin-top: 30px;
}

main {
    width: 1008px;
    min-height: 720px;
    margin-top: 15px;
}

.leftContent {
    width: 150px;
    height: 703px;
    float: left;
    min-height: 100%;
    margin-top: 10px;
    position: relative;

}

.fourth {
    min-width: 130px;
    min-height: 40%;
    background-color: gray;
    padding-left: 10px;
    font-size: 14px;
}

.seventh {
    min-width: 150px;
    min-height: 35%;
    background-color: gray;
    position: absolute;
    bottom: 0px;
}

.right {
    width: 838px;
    float: left;
    min-height: 720px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

.first {
    height: 90px;
    width: 100px;
    background-color: gray;
    margin-top: 6px;
    float: left;
}

.second {
    height: 90px;
    width: 300px;
    background-color: gray;
    margin-left: 30px;
    margin-top: 6px;
    float: left;
}

.third {
    height: 90px;
    width: 550px;
    background-color: gray;
    margin-top: 6px;
    float: right;
}

.fifth {
    background-color: gray;
    min-height: 190px;
    width: 808px;
    margin-top: 14px;
    margin-left: 15px;
    padding-left: 15px;
}

.fotoContent {

}

.foto {
    height: 100px;
    width: 98px;
    background-color: gray;
    margin-top: 30px;
    margin-left: 22px;
    float: left;
    display: inline-block;
}
.foto1 {
    height: 100px;
    width: 98px;
    background-color: gray;
    margin-top: 30px;
    margin-left: 15px;
    float: left;
    display: inline-block;
}
.foto2 {
    height: 100px;
    width: 98px;
    background-color: gray;
    margin-top: 30px;
    margin-left: 27px;
    float: left;
    display: inline-block;
}
.eighth {
    height: 185px;
    min-width: 790px;
    margin-top: 40px;
    position: relative;
}

.xz {
    min-height: 175px;
    width: 380px;
    background-color: gray;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    padding-left: 5px;

}

.xz1 {
    min-height: 175px;
    width: 380px;
    background-color: gray;
    margin-top: 10px;
    float: right;
    padding-left: 5px;
}

.tenth {
    min-height: 150px;
    width: 280px;
    background-color: gray;
    float: left;
    padding-left: 15px;
}

.tenth1 {
    min-height: 150px;
    width: 280px;
    background-color: gray;
    float: left;
    padding-left: 15px;
    margin-left: 60px;
}

.eleven {
    height: 65px;
    width: 300px;
    background-color: gray;
    float: right;
}

.eleven1 {
    height: 65px;
    width: 300px;
    background-color: gray;
    float: right;
    margin-top: 20px;
}

.list {
    margin-left: 10px;
}

ul {
    padding-left: 10px;
}

.footerList {
    line-height: 0.7em;
    padding-left: 15px;
    float: left;
}
