html, body {
    margin: auto;
    display: table;
    max-width: 1008px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

header {
    height: 100px;
    border-bottom: black;
    padding-bottom: 4px;
    border-width: 0 0 3px 0;
    border-style: outset;

}

footer {
    min-height: 170px;
    border-width: 3px 0 0 0;
    border-style: outset;
    border-top-color: black;
    padding-top: 10px;
    margin-top: 15px;
}

main {
    width: 1008px;
    height: 705px;
    margin-top: 5px;
}

.leftContent {
    width: 150px;
    height: 703px;
    float: left;
    min-height: 100%;
    margin-top: 10px;
    position: relative;

}

.fourth {
    width: 130px;
    min-height: 40%;
    background-color: gray;
    padding-left: 10px;
    font-size: 14px;
}

.seventh {
    width: 150px;
    min-height: 35%;
    background-color: gray;
    position: absolute;
    bottom: 0;
}

.right {
    width: 838px;
    float: left;
    min-height: 720px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

.first {
    height: 90px;
    width: 100px;
    background-color: gray;
    margin-top: 6px;
    float: left;
}

.second {
    height: 90px;
    width: 300px;
    background-color: gray;
    margin-left: 30px;
    margin-top: 6px;
    float: left;
}

.third {
    height: 90px;
    width: 550px;
    background-color: gray;
    margin-top: 6px;
    float: right;
}

.fifth {
    background-color: gray;
    min-height: 190px;
    width: 808px;
    margin-top: 14px;
    margin-left: 15px;
    padding-left: 15px;
}

.foto {
    height: 100px;
    width: 98px;
    background-color: gray;
    margin-top: 30px;
    margin-left: 22px;
    float: left;
    display: inline-block;
}

.foto1 {
    height: 100px;
    width: 98px;
    background-color: gray;
    margin-top: 30px;
    margin-left: 15px;
    float: left;
    display: inline-block;
}

.foto2 {
    height: 100px;
    width: 98px;
    background-color: gray;
    margin-top: 30px;
    margin-left: 27px;
    float: left;
    display: inline-block;
}

.eighth {
    height: 185px;
    margin-top: 40px;
    position: relative;
}

.xz {
    min-height: 175px;
    width: 380px;
    background-color: gray;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    padding-left: 5px;

}

.xz1 {
    min-height: 175px;
    width: 380px;
    background-color: gray;
    margin-top: 10px;
    float: right;
    padding-left: 5px;
}

.tenth {
    min-height: 150px;
    width: 280px;
    background-color: gray;
    float: left;
    padding-left: 15px;
}

.tenth1 {
    min-height: 150px;
    width: 280px;
    background-color: gray;
    float: left;
    padding-left: 15px;
    margin-left: 60px;
}

.eleven {
    height: 65px;
    width: 300px;
    background-color: gray;
    float: right;
}

.eleven1 {
    height: 65px;
    width: 300px;
    background-color: gray;
    float: right;
    margin-top: 20px;
}

.list {
    margin-left: 10px;
}

ul {
    padding-left: 10px;
}

.footerList {
    line-height: 0.7em;
    padding-left: 15px;
    float: left;
}

@media (max-width: 667px) {
    html, header, footer, main {
        width: 310px;
        margin-top: 0;
        font-size: 10px;
    }

    body {
        margin: auto;
        width: 310px;
    }

    footer {
        padding-top: 5px;
        margin-top: 5px;
    }

    .right {
        margin: 0;
    }

    .leftContent {
        width: 50px;
        margin-top: 0;
        display: none;
    }

    .header {
        height: 310px;
    }

    .first {
        width: 50px;
        margin-left: 5px;
    }

    .second {
        width: 85px;
        margin-left: 5px;
    }

    .third {
        width: 160px;
        margin-left: 5px;
    }

    .right {
        width: 310px;
        margin-left: 0;
    }

    .fifth {
        width: 310px;
        margin: 0;
        padding: 0;
    }

    .foto {
        margin: 7px;
    }

    .foto1 {
        margin: 7px;
    }

    .foto2 {
        margin: 7px;
    }

    .eighth {
        margin: 0;
        padding: 0;
        width: 310px;
    }

    .xz {
        margin: 0;
        padding: 0;
        width: 310px;
    }

    .xz1 {
        padding: 0;
        width: 310px;
        margin: 5px 0;
    }

    .tenth {
        width: 295px;
    }

    .tenth1 {
        width: 305px;
        padding-left: 5px;
        margin: 5px 0;
    }

    .eleven {
        width: 310px;
    }

    .eleven1 {
        width: 310px;
        margin: 5px 0;
    }
}

@media (min-width: 668px)and (max-width: 1027px) {
    main {
        width: 640px;
        margin: 0;
        height: 630px;
    }

    .leftContent {
        display: none;
    }

    .right {
        padding: 0;
        margin: 0;
        width: 640px;
        min-height: 630px;
    }

    header {
        width: 640px;
    }

    .first {
        width: 70px;
    }

    .second {
        width: 200px;
    }

    .third {
        width: 310px;
    }

    .fifth {
        margin: 0;
        width: 630px;
        padding: 0;
    }

    .foto1 {
        margin-left: 0;
        margin-top: 10px;
    }

    .foto {
        margin-left: 10px;
        margin-top: 10px;
    }

    .foto2 {
        margin-left: 0;
        margin-top: 10px;
        margin-right: 10px;
    }

    footer {
        width: 640px;
        height: 300px;
    }

    .tenth1 {
        width: 290px;
        margin-left: 30px;
        float: right;
    }

    .tenth {
        width: 290px;
    }

    .eleven {
        margin-left: 1px;
        width: 305px;
        margin-top: 20px;
    }

    .eleven1 {
        width: 305px;
        float: left;
    }

    .fifth {
        width: 640px;
    }

    .xz {
        margin-left: 0;
        width: 300px;
    }

    .xz1 {
        width: 300px;
    }

    .eighth {
        margin: 0;
    }
}

